@use '@styles/abstracts/variables' as var;
@use '@styles/abstracts/mixins' as mixins;
@use 'sass:map';

@include mixins.font-face(
    (
        family: 'icomoon',
        src: '/assets/fonts/icomoon/fonts/icomoon.woff',
        format: 'woff',
        weight: map.get(var.$font-weights, regular),
        style: normal,
        display: swap,
    )
);

[class^='icon-'],
[class*=' icon-'] {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-th-menu::before {
    content: '\e900';
}

.icon-facebook::before {
    content: '\ea90';
}

.icon-instagram::before {
    content: '\ea92';
}

.icon-twitter::before {
    content: '\ea96';
}
