<<<<<<<< HEAD:src/styles/vendors/_icomoons.scss
@use 'sass:map';
@use '@styles/abstracts/variables' as var;

@font-face {
    font-family: 'icomoon';
    src:
        url('/assets/fonts/icomoon/icomoon.woff') format('woff'),
        url('/assets/fonts/icomoon/icomoon.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

[class^='icon-'],
[class*=' icon-'] {
    display: inline-block;
    font-family: 'icomoon' !important;
========
@use '@styles/abstracts/mixins' as mixins;

@include mixins.font-face(
    'icomoon',
    '/assets/fonts/icomoon/fonts/icomoon.woff'
);

[class^='icon-'],
[class*=' icon-'] {
    font-family: 'icomoon';
>>>>>>>> 0270755 ([DG_A1_00]: Review fixes , styling , folder structure update):src/styles/components/_icons.scss
    font-style: normal;
    font-weight: map.get(var.$font-weights, regular);
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook::before {
    content: '\ea90';
}

.icon-instagram::before {
    content: '\ea92';
}

.icon-twitter::before {
    content: '\ea96';
}

.icon-arrow-circle-down9-1::before {
    content: '\e901';
}
