@use '@styles/abstracts/mixins' as mixins;

@include mixins.font-face(
    'icomoon',
    '/assets/fonts/icomoon/fonts/icomoon.woff'
);

[class^='icon-'],
[class*=' icon-'] {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-th-menu::before {
    content: '\e900';
}

.icon-facebook::before {
    content: '\ea90';
}

.icon-instagram::before {
    content: '\ea92';
}

.icon-twitter::before {
    content: '\ea96';
}
