@use '../abstracts' as abstracts;

body {
    min-width: abstracts.$breakpoint-mobile-min;
    background-color: abstracts.$color-white;
}

button,
a {
    -webkit-tap-highlight-color: transparent;
}

:focus-visible {
    outline: 2px solid abstracts.$color-primary;
    outline-offset: 3px;
}
