@use 'sass:map';
@use '@styles/abstracts/variables' as variables;

body {
    min-width: map.get(variables.$breakpoints, mobile-min);
    background-color: variables.$color-white;
}

button,
a {
    -webkit-tap-highlight-color: transparent;
}

:focus-visible {
    outline: 2px solid variables.$color-primary;
    outline-offset: 3px;
}
