@use 'sass:map';
@use '@styles/abstracts/variables' as variables;

body {
    font-family: variables.$font-family-body !important;
}

.text-body {
    font-family: variables.$font-family-body !important;
}

.text-small {
    font-family: variables.$font-family-body;
    font-size: variables.$font-size-small;
    font-weight: map.get(variables.$font-weights, regular);
}

.heading-primary {
    font-family: variables.$font-family-heading;
    font-size: 2rem;
    font-weight: map.get(variables.$font-weights, bold);
}
