@use 'sass:map';
@use '@styles/abstracts/functions' as function;
@use '@styles/abstracts/variables' as variables;
@use '@styles/abstracts/mixins' as mixins;

@include mixins.font-face(map.get(variables.$font-configs, inter), 100 900);
@include mixins.font-face(
    map.get(variables.$font-configs, circular-medium),
    map.get(variables.$font-weights, medium)
);
@include mixins.font-face(
    map.get(variables.$font-configs, circular-bold),
    map.get(variables.$font-weights, bold)
);
@include mixins.font-face(
    map.get(variables.$font-configs, circular-black),
    map.get(variables.$font-weights, black)
);

body {
    @include mixins.text-style(
        variables.$font-family-body,
        function.px-to-rem(16px),
        regular
    );
    color: variables.$color-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: variables.$font-family-heading;
    color: variables.$color-heading;
}

h1 {
    font-size: function.px-to-rem(32px);
    font-weight: map.get(variables.$font-weights, bold);
}

a {
    @include mixins.text-style(
        variables.$font-family-heading,
        function.px-to-rem(16px),
        medium
    );
    text-decoration: none;
}

p {
    @include mixins.text-style(variables.$font-family-body, inherit, regular);
}
