@use 'sass:map';
@use '@styles/abstracts/functions' as function;
@use '@styles/abstracts/variables' as variables;
@use '@styles/abstracts/mixins' as mixins;

@include mixins.font-face(
    (
        family: 'Inter',
        src-woff2: '/assets/fonts/icomoon/fonts/inter-font.woff2',
        src-woff: '/assets/fonts/icomoon/fonts/inter-font.woff',
        weight: 100 900,
        style: normal,
        display: swap,
    )
);

@include mixins.font-face(
    (
        family: 'Circular Std',
        src-woff2: '/assets/fonts/icomoon/fonts/circular-std.woff2',
        src-woff: '/assets/fonts/icomoon/fonts/circular-std.woff',
        weight: map.get(variables.$font-weights, medium),
        style: normal,
        display: swap,
    )
);

@include mixins.font-face(
    (
        family: 'Circular Std',
        src-woff2: '/assets/fonts/icomoon/fonts/circular-std.woff2',
        src-woff: '/assets/fonts/icomoon/fonts/circular-std.woff',
        weight: map.get(variables.$font-weights, bold),
        style: normal,
        display: swap,
    )
);

@include mixins.font-face(
    (
        family: 'Circular Std',
        src-woff2: '/assets/fonts/icomoon/fonts/circular-std.woff2',
        src-woff: '/assets/fonts/icomoon/fonts/circular-std.woff',
        weight: map.get(variables.$font-weights, black),
        style: normal,
        display: swap,
    )
);

body {
    @include mixins.text-style(
        variables.$font-family-body,
        function.px-to-rem(16px),
        regular
    );
    color: variables.$color-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: variables.$font-family-heading;
    color: variables.$color-heading;
}

h1 {
    font-size: function.px-to-rem(32px);
    font-weight: map.get(variables.$font-weights, bold);
}

a {
    @include mixins.text-style(
        variables.$font-family-heading,
        function.px-to-rem(16px),
        medium
    );
    text-decoration: none;
}

p {
    @include mixins.text-style(variables.$font-family-body, inherit, regular);
}
